body {
    background-color: aqua;
}
h1 {
    front-size: 49px,
    color: pink;
    border:2px solid green;
}
.first-class{
    border-radius: 2px solid grey;
    background-color: beige;
    font-size: 26px;
}
#first-id {
    background-color: azure;
    width: 100px;
    height: 30px;
}
#first-id a{
    text-decoration: none;
    color: darkblue;
}
#first-id a:lower{
    color: red;
}